<h1>Страница регистрации</h1>
<pre>
    Это страница для регистрации.
    Планируется выводить форму регистрации пользователя.
    + ссылки на страницу логина и домашнюю страницу.
</pre>
<a routerLink="">Главная</a><br>
<a routerLink="/offers">Объявления</a><br>
<a routerLink="/add-offer">Добавить объявление</a><br>
<a routerLink="/offers/edit-offer">Редактировать объявление</a><br>
<a routerLink="/admin">Админка</a><br>
<a routerLink="/login">Логин</a><br>
<a routerLink="/my-offers">Мои объявления</a><br>

<app-sign-up-form></app-sign-up-form>