<header class="ng-star-inserted">
    <div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static"
        style="min-height: 80px">
        <img alt="Image" class="mr-0 lg:mr-6" height="40" src="assets/images/logo.svg">
        <a class="cursor-pointer block lg:hidden text-700" enterclass="hidden" leavetoclass="hidden"
            pstyleclass="@next">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div
            class="align-items-center flex-grow-1 justify-content-between lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none hidden">
            <!-- <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
                <li [routerLink]="''">
                    <a class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-bold border-round cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-home mr-2"></i><span>Home</span>
                    </a>
                </li>
            </ul> -->
            <!-- <p-dropdown [options]="cities" optionLabel="name"></p-dropdown> -->
            <!-- <p-dropdown optionLabel="name"></p-dropdown> -->
            <span _ngcontent-aur-c55="" class="search p-input-icon-right">
                    <input _ngcontent-aur-c55="" type="text" pinputtext="" placeholder="Search"
                    class="search-input p-inputtext p-component p-element ng-pristine ng-valid ng-touched">
                    <i _ngcontent-aur-c55="" class="search-icon pi pi-search"></i>
                </span>
            <ul
                class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
                <li>
                    <button pButton pRipple label="Добавить объявление" [routerLink]="'/add-offer'" type="button"
                        class="mr-3 p-button-raised cursor-pointer"></button>
                </li>
                <li [routerLink]="'/login'">
                    <a
                        class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-sign-in text-base lg:text-2xl mr-2 lg:mr-0"></i>
                        <span class="block lg:hidden font-medium">Login or register</span>
                    </a>
                </li>
                <li class="border-top-1 surface-border lg:border-top-none">
                    <a
                        class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium cursor-pointer transition-colors transition-duration-150">
                        <img class="border-round mr-3 lg:mr-0" src="../../../../assets/images/Anatoly.jpg"
                            style="width: 32px; height: 32px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>