<h1>Страница логина</h1>
<pre>
    Это страница для входа в акккаунт.
    Планируется выводить форму логина пользователя.
    + ссылки на страницу регистрации и домашнюю страницу.
</pre>
<a routerLink="">Главная</a><br>
<a routerLink="/offers">Объявления</a><br>
<a routerLink="/add-offer">Добавить объявление</a><br>
<a routerLink="/offers/edit-offer">Редактировать объявление</a><br>
<a routerLink="/admin">Админка</a><br>
<a routerLink="/sign-up">Регистрация</a><br>
<a routerLink="/my-offers">Мои объявления</a><br>

<app-login-form></app-login-form>