<footer class="footer page-footer layout-footer mt-4">
    <!-- <div class="ng-star-inserted"> -->
        <!-- <div class="surface-section py-3 text-center"> -->
            <!-- <div class="font-medium text-900 mt-4 mb-3">© 2021 Juicy Offers, Inc</div> -->
            <div class="footer__icons flex align-items-center justify-content-center">
                <a class="footer__link cursor-pointer text-700 mr-5">
                    <img src="../../../assets/images/vk.png" alt="">
                </a>
                <a  href="https://instagram.com/_harmary_?utm_medium=copy_link"  class="footer__link cursor-pointer text-700 mr-5">
                    <img src="../../../assets/images/inst.png" alt="">
                </a>
                <a class="footer__link cursor-pointer text-700">
                    <img src="../../../assets/images/github.png" alt="">
                </a>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</footer>