<h1>Домашняя страница</h1>
<pre>
    Это домашняя страница.
    Планируется баннер (типо шоб как домашняя выглядела, баннер самый примитивный).
    + встроить небольшую справку о команде
</pre>
<a routerLink="">Главная</a><br>
<a routerLink="/offers">Объявления</a><br>
<a routerLink="/add-offer">Добавить объявление</a><br>
<a routerLink="/offers/edit-offer">Редактировать объявление</a><br>
<a routerLink="/admin">Админка</a><br>
<a routerLink="/login">Логин</a><br>
<a routerLink="/sign-up">Регистрация</a><br>
<a routerLink="/my-offers">Мои объявления</a><br>