<h1>Страница с объявлениями пользователя(т.е. с моими объявлениями, т.е. с теми объявлениями,которые я создал)</h1>
<pre>
    Страница содержит список моих объявлений.
    Планируется выводить список объявлений в таком же формате,как и при постраничном просмотре.
    + кнопка(у каждого объявления) ведущая на страницу редактирования объявления.
</pre>
<a routerLink="">Главная</a><br>
<a routerLink="/offers">Объявления</a><br>
<a routerLink="/add-offer">Добавить объявление</a><br>
<a routerLink="/offers/edit-offer">Редактировать объявление</a><br>
<a routerLink="/admin">Админка</a><br>
<a routerLink="/login">Логин</a><br>
<a routerLink="/sign-up">Регистрация</a><br>