
input{
        padding:10px 20px 20px 20px;  
}
li{
    list-style-type: none; /* Убираем маркеры */
    border-style: inset;
    border-color: orange;
    width:500px;
    margin: 0 auto;
    padding:20px 20px 20px 20px;  
}
.formm{
    width:500px;
   margin: 0 auto;
   text-align: center; 
}